/**
 * Fizzy main style file
 */

@import "variables.less";
@import "utils.less";
@import "navbar.less";

@font-face {
    font-family: "Open sans";
    src: url('../fonts/open-sans.regular.ttf');
}

body {
    width: 100%;

    font-family: "Oswald", "Open sans", sans-serif;
    font-size: @font-size;
}

a {
    text-decoration: none;
    color: @link-color;
}

.not-found {
    padding: @gutter;
}

.back {
    font-size: @font-size * 1.15;

    margin-bottom: @gutter;
}

/* Bootstrap adapter {{{ */

.row {
    margin-right: 0;
    margin-left: 0;
}

/* }}} */

#banner {
    overflow: hidden;

    background-color: @app-color;

    font-size: @title-font-size;

    .f-header {
        padding: 0 @gutter;

        .f-title {
            font-size: @title-font-size * 1.5;
        }
    }
}

footer {
    background-color: @dark-bg;

    text-align: center;
    font-size: @large-font-size;

    p {
        padding: 10px;
    }

    * {
        color: white;
    }
}

#app-container {
    background-color: @light-bg;

    width: 100%;
    padding: @gutter 0;

    > * {
        width: 100%;
    }
}

/**
 * Style for post
 */
.post-single {
    padding: @gutter;
}

.empty-post {
    padding: @gutter;

    text-align: center;
    font-size: @large-font-size;

    .fa {
        font-size: @large-font-size * 1.3;
    }
}

.posts-container {
    width: 100%;
    
    .short-post-container {
        background-color: transparent;
        padding: @min-gutter;
        
        .short-post {
            background-color: @medium-bg;

            .img {
                width: 100%;
            }

            .info-content {
                padding: 0 @min-gutter @min-gutter @min-gutter;

                /* Author */
                .author-info {
                    .clear_after();

                    .avatar {
                        width: @avatar-width;
                        height: @avatar-height;

                        float: left;

                        border-radius: 50%;
                        border: 3px solid transparent;

                        &:hover {
                            border: 3px solid @app-color;
                        }

                    }

                    .author {
                        float: left;

                        margin-left: @min-gutter;
                        margin-top: @avatar-height / 2 - @font-size;

                        text-overflow: ellipsis;
                    }

                }

                .tags {
                    font-size: @font-size;
                    font-style: italic;
                    color: @grey;
                }

                .community {
                    text-align: right;

                    .pop-0 { color: #f1c40f; }
                    .pop-1 { color: #f39c12; }
                    .pop-2 { color: #e67e22; }
                    .pop-3 { color: #d35400; }
                    .pop-4 { color: #c0392b; }
                    .pop-5 { color: #ff0000; }
                }
            }
        }
    }

    .post-full-content {
        h2 {
            margin: @gutter 0;
            font-size: @large-font-size * 2;
        }

        .post-info {
            margin: @gutter 0;

            > * {
                float: left;
                padding: 0 @min-gutter;

                border-right: 1px solid @grey;
                border-left: 1px solid @dark-bg;

                &:first-child {
                    padding-left: 0;

                    border-left: 1px solid transparent;
                }

                &:last-child {
                    border-right: 1px solid transparent;
                }

                span.fa {
                    color: @app-color;
                }
            }

            .clear_after();
        }

        .post-content {
            margin: @gutter 0;
            font-size: @large-font-size;
        }
    }
}
