/* Variables */

/* Colors */
@light-bg: #f7f7f7;
@medium-bg: #dedede;
@dark-bg: #1f1f1f;

@app-color: #8CD8D2;
@dark-app-color: #45D6CB;

@grey: #999;

@link-color: #524c4c;

/* Margin & Padding */
@min-gutter: 15px;
@gutter: 20px;

/* Style */
@font-size: 14px;
@large-font-size: @font-size * 1.3;
@title-font-size: @font-size * 1.5;

/* Images */
@avatar-width: 40px;
@avatar-height: 40px;

/* Block length */
@footer-height: 30px;
