/* Variables */

/* Colors */
@light-bg: #f7f7f7;
@dark-bg: #1f1f1f;
@link-color: #524c4c;

@app-color: #96cdcd;

@light-color: #e7e7e7;
@grey: #999;
@dark-color: #3a3a3a;

/* Margin & Padding */
@min-gutter: 15px;
@gutter: 20px;

/* Style */
@title-font-size: 21px;

@font-size: 14px;

/* Images */
@avatar-width: 40px;
@avatar-height: 40px;