/**
 * Fizzy main style file
 */
/* Variables */
/* Colors */
/* Margin & Padding */
/* Style */
/* Images */
/* Block length */
/* Utils factory */
.pull-left {
  float: left;
}
.f-hidden {
  display: none;
}
.navbar-default {
  background-color: #8cd8d2;
  border-color: #45d6cb;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1f1f1f;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1f1f1f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1f1f1f;
  background-color: #45d6cb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #1f1f1f;
  background-color: #45d6cb;
}
.navbar-default .navbar-toggle {
  border-color: #45d6cb;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #45d6cb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #1f1f1f;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #1f1f1f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #1f1f1f;
    background-color: #45d6cb;
  }
}
@font-face {
  font-family: "Open sans";
  src: url('../fonts/open-sans.regular.ttf');
}
body {
  width: 100%;
  font-family: "Oswald", "Open sans", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #524c4c;
}
.not-found {
  padding: 20px;
}
.back {
  font-size: 16.1px;
  margin-bottom: 20px;
}
/* Bootstrap adapter {{{ */
.row {
  margin-right: 0;
  margin-left: 0;
}
/* }}} */
#banner {
  overflow: hidden;
  background-color: #8cd8d2;
  font-size: 21px;
}
#banner .f-header {
  padding: 0 20px;
}
#banner .f-header .f-title {
  font-size: 31.5px;
}
footer {
  background-color: #1f1f1f;
  text-align: center;
  font-size: 18.2px;
}
footer p {
  padding: 10px;
}
footer * {
  color: white;
}
#app-container {
  background-color: #f7f7f7;
  width: 100%;
  padding: 20px 0;
}
#app-container > * {
  width: 100%;
}
/**
 * Style for post
 */
.post-single {
  padding: 20px;
}
.empty-post {
  padding: 20px;
  text-align: center;
  font-size: 18.2px;
}
.empty-post .fa {
  font-size: 23.66px;
}
.posts-container {
  width: 100%;
}
.posts-container .short-post-container {
  background-color: transparent;
  padding: 15px;
}
.posts-container .short-post-container .short-post {
  background-color: #f1ecf1;
}
.posts-container .short-post-container .short-post .img {
  width: 100%;
}
.posts-container .short-post-container .short-post .info-content {
  padding: 0 15px 15px 15px;
  /* Author */
}
.posts-container .short-post-container .short-post .info-content .author-info:after {
  content: '';
  display: block;
  clear: both;
}
.posts-container .short-post-container .short-post .info-content .author-info .avatar {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 50%;
  border: 3px solid transparent;
}
.posts-container .short-post-container .short-post .info-content .author-info .avatar:hover {
  border: 3px solid #8cd8d2;
}
.posts-container .short-post-container .short-post .info-content .author-info .author {
  float: left;
  margin-left: 15px;
  margin-top: 6px;
  text-overflow: ellipsis;
}
.posts-container .short-post-container .short-post .info-content .tags {
  font-size: 14px;
  font-style: italic;
  color: #999999;
}
.posts-container .short-post-container .short-post .info-content .community {
  text-align: right;
}
.posts-container .short-post-container .short-post .info-content .community .pop-0 {
  color: #f1c40f;
}
.posts-container .short-post-container .short-post .info-content .community .pop-1 {
  color: #f39c12;
}
.posts-container .short-post-container .short-post .info-content .community .pop-2 {
  color: #e67e22;
}
.posts-container .short-post-container .short-post .info-content .community .pop-3 {
  color: #d35400;
}
.posts-container .short-post-container .short-post .info-content .community .pop-4 {
  color: #c0392b;
}
.posts-container .short-post-container .short-post .info-content .community .pop-5 {
  color: #ff0000;
}
.posts-container .post-full-content h2 {
  margin: 20px 0;
  font-size: 36.4px;
}
.posts-container .post-full-content .post-info {
  margin: 20px 0;
}
.posts-container .post-full-content .post-info > * {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #999999;
  border-left: 1px solid #1f1f1f;
}
.posts-container .post-full-content .post-info > *:first-child {
  padding-left: 0;
  border-left: 1px solid transparent;
}
.posts-container .post-full-content .post-info > *:last-child {
  border-right: 1px solid transparent;
}
.posts-container .post-full-content .post-info > * span.fa {
  color: #8cd8d2;
}
.posts-container .post-full-content .post-info:after {
  content: '';
  display: block;
  clear: both;
}
.posts-container .post-full-content .post-content {
  margin: 20px 0;
  font-size: 18.2px;
}
