<!--
    Template for posts
-->

<% posts.each(function(post) { %>
    <div class="post-container">
        <div class="content">
            <h2><%- post.get('Title') %></h2>
            <div><%- post.get('Content') %></div>
        </div>
        <ul>
            <li class="image">
                <%- post.get('Image') %>
            </li>
            <li class="avatar">
                <%- post.get('Avatar') %>
            </li>
            <li class="author">
                <%- post.get('Author') %>
            </li>
            <li class="mod-date">
                <%- post.get('ModificationDate') %>
            </li>
            <li class="likes">
                <%- post.get('Likes') %>
            </li>
        </ul>
    </div>
<% }); %>